* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f7fb;
}

button,
input,
select {
  font: inherit;
}